<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="estilos.css")
    title Galeria de imágenes
  body
    h1 Galería de imágenes

    .gallery-container
      -for(var i=0; i<12; i++)
        .gallery-item
          img(src="img/imagen.jpg")