/*Estilos generales para todos los proyectos*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif;
  color: #333; }

h1 {
  text-align: center;
  color: #333; }

body {
  background: #1F2B2D; }

.toggle-button {
  display: none; }
  .toggle-button + label {
    display: block;
    width: 8em;
    height: 4em;
    background: #DE2B2B; }
