/*Estilos generales para todos los proyectos*/

*,
*::after
*::before {
    box-sizing: border-box;
}


body {
    margin : 0;
    font-family: sans-serif;
    color: #333;
    line-height : 1.5;
}

h1 {
  text-align : center;
  color: #333;
}

img {
  max-width : 100%;
}

main {
  width : 90%;
  margin-left : auto;
  margin-right : auto;
}
