body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #272822;
  padding-bottom: 100em;
}

h1 {
  text-align: center;
  color: #8db3d3;
}

.gear {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1em dotted #ccc;
  background: -webkit-radial-gradient(transparent 15%, #ccc 15%) padding-box;
  background: radial-gradient(transparent 15%, #ccc 15%) padding-box;
  margin: 3em auto;
  -webkit-animation: girar 6s linear infinite;
          animation: girar 6s linear infinite;
}

@-webkit-keyframes girar {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes girar {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
