<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
    link(rel="stylesheet", href="styles.css")
    title
  body
    h1 Truco CSS 28 - Imagen de fondo transparente
    .banner
      h2.banner__title Residencial Los Alamos
      p.banner__subtitle - Disfrute la exclusividad y el confort -