/*Estilos generales para todos los proyectos*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif;
  color: #333; }

h1 {
  text-align: center;
  color: #333; }

body {
  color: #444;
  font-size: .9em; }

.menu {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background: #54B4E8;
  margin: 0;
  padding: 0; }
  .menu__link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5em; }
  .menu__item:nth-child(3) {
    margin-left: auto;
    margin-right: auto; }

.container {
  background: #54B4E8;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
  display: -ms-flexbox;
  display: flex; }

.content {
  display: table;
  background: #428538;
  color: #fff;
  padding: 1em;
  margin: auto; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh; }

.main-footer {
  background: #F3462B;
  color: #fff;
  padding: 1em;
  text-align: center;
  margin-top: auto; }

.plans-container {
  display: -ms-flexbox;
  display: flex; }

.pricing-table {
  border: 1px solid rgba(84, 180, 232, 0.6);
  padding: 1em;
  margin: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .pricing-table__title {
    background: #428538;
    color: #fff;
    padding: .5em;
    text-align: center;
    margin-bottom: 1em; }
  .pricing-table__features {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0; }
    .pricing-table__features__item {
      border-bottom: 1px solid rgba(66, 133, 56, 0.3);
      line-height: 2;
      min-width: 15EM; }
  .pricing-table__price {
    background: #F3462B;
    color: #fff;
    display: table;
    padding: .5em;
    margin: auto auto 0; }
