<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
    link(rel="stylesheet", href="styles.css")
    title
  body
    h1 Truco CSS 32 :not selector
    .gallery-container
      -for(var i=0; i < 12; i++)
        .gallery-item
          img(src="img/museo.jpg")