<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
    link(rel="stylesheet", href="styles.css")
    title Truco CSS 35
  body
    h1  Truco CSS 35

    table.table
      -for(var x = 1; x <= 10; x++)
        tr
          // 97 para minusculas
          -for(var y = 65; y <= 75; y++)
            td #{String.fromCharCode(y)} #{x}

