body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
}

h1 {
  text-align: center;
  color: #aaa;
}

.esfera {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  background:
  radial-gradient(
      top left,
      lighten(teal,20),
      darken(teal,25%)
  );
  margin: auto;
  &:after {
    content:"";
    display: block;
    width: 200px;
    height: 5px;
    background: #000;
    position: absolute;
    bottom: 5px;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #000;
    opacity: .6;
    z-index: -1;
  }
}