body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #111619;
}

h1 {
  color: #ffff99;
  text-align: center;
}

.esquinas {
  width: 500px;
  height: 300px;
  box-shadow: 0 0 0 8px #111619 inset, 0 0 0 10px #ff33ff inset;
  background: url(http://www.freewallpaperfullhd.com/wp-content/uploads/2015/01/Girl-Wallpaper-HD-1680x1050.jpg);
  background-size: cover;
  margin: 2em auto;
  position: relative;
}

.esquinas:after {
  content: "";
  width: 508px;
  height: 308px;
  position: absolute;
  z-index: -1;
  top: -4px;
  left: -4px;
  background-image: -webkit-linear-gradient(left, transparent 30px, #111619 30px, #111619 478px, transparent 478px), -webkit-linear-gradient(#ff33ff 30px, transparent 30px, transparent 278px, #ff33ff 278px);
  background-image: linear-gradient(left, transparent 30px, #111619 30px, #111619 478px, transparent 478px), linear-gradient(#ff33ff 30px, transparent 30px, transparent 278px, #ff33ff 278px);
}
