<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
    link(rel="stylesheet", href="styles.css")
    title
  body
    h1 Truco CSS 30 - Toggle button

    input(type="checkbox" id="toggle" class="toggle-button")
    label(for="toggle")
