@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
}

.paper {
  width: 400px;
  height: 500px;
  margin: 2em auto;
  background-image: -webkit-linear-gradient(#fef1c3 98%, #e0b8b8 98%);
  background-image: linear-gradient(#fef1c3 98%, #e0b8b8 98%);
  background-size: 100% 40px;
  background-position: 0 1em;
  font-family: 'Shadows Into Light Two', sans-serif;
  padding: 1em;
}

.paper h1 {
  color: darkred;
  margin: 0;
  line-height: 80px;
}

.paper ul {
  margin: 0;
  list-style: none;
}

.paper ul li {
  font-size: 1.3em;
  position: relative;
  line-height: 40px;
}

.paper ul li:before {
  content: "\2713";
  color: green;
  font-weight: bold;
  position: absolute;
  left: -1.2em;
}
