/*Estilos generales para todos los proyectos*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif;
  color: #333; }

h1 {
  text-align: center;
  color: #333; }

.table-rwd {
  font-size: .85em;
  border: 1px solid rgba(181, 213, 144, 0.5);
  color: #666;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto; }
  .table-rwd td, .table-rwd th {
    padding: .8em;
    border-bottom: 1px solid rgba(181, 213, 144, 0.5); }
  .table-rwd th {
    background: #1A8CFF;
    color: #fff;
    font-weight: normal;
    text-align: right; }
  .table-rwd td {
    text-align: right; }
    .table-rwd td:before {
      content: "$ ";
      color: #1A8CFF; }
    .table-rwd td:after {
      content: ".00"; }
    .table-rwd td:first-of-type {
      text-align: left; }
      .table-rwd td:first-of-type:before {
        content: ""; }
      .table-rwd td:first-of-type:after {
        content: ""; }
  .table-rwd tr:hover {
    background: rgba(181, 213, 144, 0.2); }
  .table-rwd tr td:nth-child(2n) {
    background: rgba(181, 213, 144, 0.2); }

.table-container {
  overflow-x: auto; }

.table-rwd {
  min-width: 900px; }
  .table-rwd td:first-child {
    position: absolute;
    background: #fff;
    width: 8em; }
  .table-rwd th:first-child {
    width: 8em; }
  .table-rwd tr:hover td:first-child {
    background: #1A8CFF;
    color: #fff; }
  .table-rwd tr:nth-child(2) td:first-child {
    box-shadow: 0 -2.7em 0 -6px #1A8CFF, -6px -2.7em 0 -6px #1A8CFF; }
